@use './vars.scss';
@use './mixins.scss';

body {
  background-color: vars.$primary-color;
  color: vars.$secondary-color;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}

//~ BUTTONS
.main-buttons,
.current-timer,
.define-timer {
  @include mixins.button;
}

//~ SECTIONS
.container {
  @include mixins.flexbox(center, center, column);
}

.timer,
.current-timer__container,
.define-timer__container {
  @include mixins.flexbox(center, center, row);
}